@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.inner-wrap {
	min-height: 100vh;
}

#cpf, #cnpj, #rg, #cep {
	display:none;
}

.main-section {
    width: 90%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
}

#home {
    text-align: center;
}

input.invalid {
    border-color:#d40000 !important;
}

input.valid {
    border-color:#d4d400 !important;
}

.tab h1.info{
    text-align: center;
    font-size:3.5em;
    margin:50px 0 50px 0;
    color:transparent;
}

.tab h1.invalid {
	color:#d40000;
}

.tab h1.valid {
	color:#d4d400;
}